@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(200, 226, 236);
    height: 10vh;
    font-size:x-large;
}
.information ul{
    display: flex;
    gap: 40px;
    padding: 0px 50px;
}
ul li{
    list-style-type: none;
    cursor: pointer;
}
.schoolLogo{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 30px;
}

header{
    height: 80vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.panel ul li a{
    text-decoration: none;
    color: black;
}

.panel ul li{
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px;
    width: 100%;
    text-align: center;
    font-size:x-large;
    padding: 10px 0px;
}
.panel ul li:hover{
    background-color:rgb(235, 242, 244);
}